<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <p>ユーザー名</p>
        <%= form_tag("/users/#{@user.id}/update") do %>
        <!-- nameを初期値として表示してください -->
        <input value="<%= @user.name %>" name="name">
        <%= form_tag("/users/#{@user.id}/update", {multipart:true})%>
        <p>画像</p>
        <input name="image" type="file">
        <p>メールアドレス</p>
        <!-- emailを初期値として表示してください -->
        <input value="<%= @user.email %>" name="email">
        <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>