<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <p>ユーザー名</p>
        <%= form_tag("/users/#{@post.id}/update") do %>
        <!-- nameを初期値として表示してください -->
        <input>
        <p>メールアドレス</p>
        <!-- emailを初期値として表示してください -->
        <input>
        <input type="submit" value="保存">
        <% end %>
        <%= @post.name %>
      </div>
    </div>
  </div>
</div>