
<div class="main users-index">
    <div class="container">
        <h1 class="users-heading">フォロー一覧</h1>
        <!-- 以下の<% %>を使ってeach文を追加してください -->
        <% @users.each do |user| %>        
            <div class="users-index-item">
            <div class="user-right">
            <!-- 以下の<%= %>を使ってユーザー名を表示してください -->
            <% if @current_user.following?(user) %>
            <%= link_to(user.name,"/users/#{user.id}") %>
            
            <p><%=button_to "フォロー解除", user_relationships_path(user.id), method: :delete %></p>
            <% end %>


            </div>
            </div>
    <!-- 以下の<% %>を使ってeach文のendを追加してください -->
        <% end %>
    </div>
</div>