

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">

      <% @posts.each do |post| %>
        <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>

      <% if @current_user != post.user %>
        <% if post.user.followed_by?(@current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(post.user.id), method: :delete %></p>
        <% else %>
            <p><%=button_to "フォローする", user_relationships_path(post.user.id) %></p>
        <% end %>
      <% end %>
    <% end %>


    </div>
  </div>
</div>  