<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <% @post.errors.full_messages.each do |message|%>
      <%= message %>
    <%end%>
    <%= form_tag("/posts/create") do %>
      <textarea name="content"><%= @post.content %></textarea>
      <!-- 画像投稿 -->
      <p>画像</p>
      <input name="image" type="file">
      <input type="submit" value="投稿">
    <% end %>
  </div>
</div>